c ind 1 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 0
p cnf 70 140
-4 -6 0
5 -6 0
4 -5 6 0
-4 -7 0
-5 -7 0
4 5 7 0
-4 -9 0
-5 -9 0
8 -9 0
4 5 -8 9 0
-4 -10 0
-5 -10 0
-8 -10 0
4 5 8 10 0
-4 -12 0
-5 -12 0
-8 -12 0
11 -12 0
4 5 8 -11 12 0
-4 -13 0
-5 -13 0
-8 -13 0
-11 -13 0
4 5 8 11 13 0
-4 -15 0
-5 -15 0
-8 -15 0
-11 -15 0
14 -15 0
4 5 8 11 -14 15 0
-4 -16 0
-5 -16 0
-8 -16 0
-11 -16 0
-14 -16 0
4 5 8 11 14 16 0
17 0
18 -34 0
-18 34 0
-1 -34 -35 0
1 34 -35 0
-1 34 35 0
1 -34 35 0
-35 0
23 -36 0
-23 36 0
1 -38 0
36 -38 0
-1 -36 38 0
-2 -38 -39 0
2 38 -39 0
-2 38 39 0
2 -38 39 0
-39 0
28 -40 0
-28 40 0
2 -42 0
40 -42 0
-2 -40 42 0
-3 -42 -43 0
3 42 -43 0
-3 42 43 0
3 -42 43 0
-43 0
33 -44 0
-33 44 0
3 -46 0
44 -46 0
-3 -44 46 0
-4 -46 -47 0
4 46 -47 0
-4 46 47 0
4 -46 47 0
-47 0
-28 48 0
28 -48 0
-28 -49 0
28 -49 0
28 50 0
-49 50 0
-28 49 -50 0
-5 -50 -51 0
5 50 -51 0
-5 50 51 0
5 -50 51 0
-51 0
-33 52 0
33 -52 0
-33 -53 0
33 -53 0
33 54 0
-53 54 0
-33 53 -54 0
-8 -54 -55 0
8 54 -55 0
-8 54 55 0
8 -54 55 0
-55 0
-18 56 0
18 -56 0
-18 -57 0
18 -57 0
18 58 0
-57 58 0
-18 57 -58 0
-11 -58 -59 0
11 58 -59 0
-11 58 59 0
11 -58 59 0
-59 0
-23 60 0
23 -60 0
-23 -61 0
23 -61 0
23 62 0
-61 62 0
-23 61 -62 0
-14 -62 -63 0
14 62 -63 0
-14 62 63 0
14 -62 63 0
-63 0
-4 0
-5 0
-8 0
-11 0
-14 0
-64 -66 -68 0
64 66 -68 0
-64 66 68 0
64 -66 68 0
-65 -67 -69 0
65 67 -69 0
-65 67 69 0
65 -67 69 0
-68 -70 0
-69 -70 0
68 69 70 0
-17 70 0
17 -70 0
c __CPROVER_malloc_is_new_array#1 FALSE
c check::$tmp::tmp_if_expr$1!0@1#1 37
c goto_symex::\guard#1 1
c check::$tmp::tmp_if_expr$1!0@1#2 36
c check::$tmp::tmp_if_expr$1!0@1#3 37
c check::$tmp::tmp_if_expr$1!0@1#4 FALSE
c check::$tmp::tmp_if_expr$1!0@1#5 2
c check::$tmp::tmp_if_expr$2!0@1#1 41
c check::$tmp::tmp_if_expr$2!0@1#2 40
c check::$tmp::tmp_if_expr$2!0@1#3 41
c check::$tmp::tmp_if_expr$2!0@1#4 FALSE
c check::$tmp::tmp_if_expr$2!0@1#5 3
c check::$tmp::tmp_if_expr$3!0@1#1 45
c check::$tmp::tmp_if_expr$3!0@1#2 44
c check::$tmp::tmp_if_expr$3!0@1#3 45
c check::$tmp::tmp_if_expr$3!0@1#4 FALSE
c check::$tmp::tmp_if_expr$3!0@1#5 4
c goto_symex::\guard#2 5
c goto_symex::\guard#3 8
c goto_symex::\guard#4 11
c goto_symex::\guard#5 14
c __CPROVER_thread_id!0#1 FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
c __CPROVER_rounding_mode!0#1 FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
c __CPROVER_pipe_count#1 FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
c __CPROVER_deallocated#1 FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
c __CPROVER_dead_object#1 FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
c __CPROVER_next_thread_id#1 FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
c __CPROVER_malloc_object#1 FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
c __CPROVER_malloc_size#1 FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
c check::1::x!0@1#1 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33
c __CPROVER_memory_leak#1 FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
